<div *ngIf="loading" class="content-load">
    <br>
    <mat-spinner class="child-load"></mat-spinner>
    <br>
    <mat-label class="child-load"><strong>Cargando... </strong></mat-label>
  </div>
  <div [formGroup]="regRecursos">
      <div class="card">
          <div class="card-header card-header-primary">
              <h4 class="card-title"><p align="left" style=color:#3F52B6>
                  <strong> <i class="material-icons">people</i> Asignar Actividades a los Recursos </strong></p></h4>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-2"> N° iniciativa: </div>
                  <div class="col-md-3"> 
                      <input formControlName="nIniciativaInputDialog" class="form-control form-control-sm" type="text" ng-disabled="true" maxlength="9" disabled>  
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-2">Título: </div>
                  <div class="col-md-4">
                      <input formControlName="tituloInputDialog" class="form-control form-control-sm"  type="text" ng-disabled="true" disabled> 
                  </div>
              </div>      
              <div class="row">
                  <div class="col-md-12">
                      <hr style="width:100%;">
                  </div>
              </div>
             
              <div class="row">
                  <div class="col-md-12" >
                      <table class="table table-md" style=" margin-bottom: 0px; table-layout: fixed; ">
                          <thead> 
                              <tr>
                                  <th class="encabezado" width="20%" style="white-space: normal;">Código</th>
                                  <th class="encabezado" width="50%" style="white-space: normal;">Nombres</th>
                                  <th class="encabezado cell-cabecera-center" width="10%" style="white-space: normal;">%</th>
                                  <th class="encabezado cell-cabecera-center" width="20%" style="white-space: normal;">Activ. Asig.</th>
                                  <th class="encabezado cell-cabecera-center" width="20%" style="white-space: normal;">Horas  Asig.</th>
                                 
                              </tr>
                          </thead>
                          <tbody *ngFor="let colabDetFire of colaboradorDetFireList" class="tablaRecurso"> 
                              <tr style="vertical-align:center !important;" id="{{colabDetFire.codigo}}">
                                  <td class="tabla-center cell-td" width="20%">{{colabDetFire.codigoUsuario}}</td>
                                  <td class="tabla-center cell-td" width="50%">{{colabDetFire.nombres}}</td>
                                  <td class="tabla-center cell-td" width="10%" align="center" >{{colabDetFire.porcentaje}}</td>
                                  <td class="tabla-center cell-td" width="10%" align="center" ><mat-checkbox class="align:center;"></mat-checkbox></td>
                                  <td class="tabla-center cell-td" width="10%" align="center" ><input width="20px" type="number" min="1" step="1" (focusout)="focusOut($event, colabDetFire)" ng-model="colabDetFire.horasasig" style="text-align:center;width:50px;" value={{colabDetFire.horasasig}}></td>                                  
                              </tr>
                          </tbody>    
                      </table>
                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-md-3">
                      <label style=color:#3F52B6>Horas por asignar (%): </label>
                  </div>
                  <div class="col-md-2">
                      <input class="form-control" formControlName="porAsignarLabel" type="text" ng-disabled="true" disabled>
                  </div>
              </div>
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-md-9">
          </div>
          <div class="col-md-2 align-right">
              <button type="button" class="btn btn-primary btn-sm" (click)="guardarRecursos(colaboradorDetFireList)">Guardar</button>
          </div>
          <div class="col-md-1" >
              <button type="button" class="btn btn-danger btn-sm" (click)="close()">Cerrar</button> 
          </div>
      </div>
  </div>


