<form [formGroup]="registerForm" shake-that>

    <div *ngIf="loading" class="content-load">
        <br>
        <mat-spinner class="child-load"></mat-spinner>
        <br>
        <mat-label class="child-load"><strong>Cargando... </strong></mat-label>
      </div>
      
    <div class="container text-center pb-10;">
        <img src="assets\images\fondo8.png"/>
    </div>
    <div class="form-group" ng-class="{'has-error': form.usuario.$invalid && submitted}">
      <label for="email" class="control-label">Usuario</label>
      <input
        type="text"
        class="form-control"
        id="usuario"
        formControlName="usuario"
        name="usuario"
        placeholder="usuario"
        ng-model="email"
        oninput="this.value = this.value.toUpperCase()"
        ng-model-options="{updateOn: 'blur'}"
        #usuario
        required>
    </div>
    <div class="form-group" ng-class="{'has-error': form.password.$invalid && submitted}">
      <label for="password" class="control-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        formControlName="password"
        placeholder="Password"
        ng-model="password"
        #password
        ng-model-options="{updateOn: 'blur'}"
        required>
    </div>
    <div class="form-group  text-center pb-10">    
    <button mat-raised-button type="button" class="btn-primary btn-save" align="center" (click)="openacceso(f.usuario.value,f.password.value)">
        <mat-icon>people</mat-icon> Ingresar</button>
        <br>
        <label for="mensaje" id="mensaje" name="mensaje" class="control-label" style="color: red;">{{mensaje}}</label>   
    </div>    
</form>