<br>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <h5 class="card-title"><p style="vertical-align: middle; color:#3F52B6">
                    <i class="material-icons" style="vertical-align: middle; ">schedule</i> Planifica tus Atenciones </h5>
                  </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p style="text-align: left; color:#AA004F">
                            <strong><i class="material-icons" style="vertical-align: middle; " (click)="InActiva()">library_add</i> Proyectos</strong>
                        </p>
                    </div>
                </div>
                <div class="table-responsive-md;" *ngIf="habilitar" [style.overflow]="'auto'" [style.height.px]="'300'">
                  <table id="tblproyectos" name="tblproyectos" class="table table-md" style=" margin-bottom: 0px; table-layout: fixed; ">
                      <thead > 
                          <tr>
                              <th class="table-dark" width="100px" style="background-color: #4598D8; white-space: normal;"> Codigo </th>
                              <th class="table-dark" width="200px" style="background-color: #4598D8; white-space: normal;"> Título </th>
                              <th class="table-dark" width="100px" style="background-color: #4598D8; white-space: normal;"> F.Inicio </th>
                              <th class="table-dark" width="100px" style="background-color: #4598D8; white-space: normal;"> F.Fin </th>
                              <th class="table-dark" width="100px" style="background-color: #4598D8; white-space: normal;"> Avance </th>
                              <th class="table-dark" width="100px" style="background-color: #4598D8; white-space: normal;"> Prioridad </th>
                              <th class="table-dark" width="100px" style="background-color: #4598D8; white-space: normal;"> 13.01.20 </th>
                              <th class="table-dark" width="100px" style="background-color: #4598D8; white-space: normal;"> 14.01.20 </th>
                              <th class="table-dark" width="100px" style="background-color: #4598D8; white-space: normal;"> 15.01.20 </th>
                              <th class="table-dark" width="100px" style="background-color: #4598D8; white-space: normal;"> 16.01.20 </th>
                              <th class="table-dark" width="100px" style="background-color: #4598D8; white-space: normal;"> 17.01.20 </th>
                              <th class="table-dark" width="100px" style="background-color: #4598D8; white-space: normal;"> 18.01.20 </th>
                              <th class="table-dark" width="100px" style="background-color: #4598D8; white-space: normal;"> 19.01.20 </th>                              
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                            <th width="7%" scope="row">RQ0001</th>
                            <td width="7%" style="white-space: normal;">Proyecto Pricing</td>
                            <td width="8%" style="white-space: normal;">01/03/2019</td>
                            <td width="8%" style="white-space: normal;">31/10/2019</td>
                            <td width="7%" style="white-space: normal; text-align: center;">46%</td>
                            <td width="7%" style="white-space: normal;">Bajo</td>
                            <td width="7%" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" > 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" disabled> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" disabled> 
                            </td>
                                
                          </tr>
                          <tr>
                            <th width="7%" scope="row">RQ0002</th>
                            <td width="7%" style="white-space: normal;">Proyecto Pricing</td>
                            <td width="8%" style="white-space: normal;">01/03/2019</td>
                            <td width="8%" style="white-space: normal;">31/10/2019</td>
                            <td width="7%" style="white-space: normal; text-align: center;">46%</td>
                            <td width="7%" style="white-space: normal;">Bajo</td>
                            <td width="7%" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" > 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" disabled> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" disabled> 
                            </td>
                                
                          </tr>
                          <tr>
                            <th width="7%" scope="row">RQ0003</th>
                            <td width="7%" style="white-space: normal;">Proyecto Pricing</td>
                            <td width="8%" style="white-space: normal;">01/03/2019</td>
                            <td width="8%" style="white-space: normal;">31/10/2019</td>
                            <td width="7%" style="white-space: normal; text-align: center;">42%</td>
                            <td width="7%" style="white-space: normal;">Bajo</td>
                            <td width="7%" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" > 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" disabled> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" disabled> 
                            </td>
                                
                          </tr>
                          <tr>
                            <th width="7%" scope="row">RQ0004</th>
                            <td width="7%" style="white-space: normal;">Proyecto Pricing</td>
                            <td width="8%" style="white-space: normal;">01/03/2019</td>
                            <td width="8%" style="white-space: normal;">31/10/2019</td>
                            <td width="7%" style="white-space: normal; text-align: center;">46%</td>
                            <td width="7%" style="white-space: normal;">Bajo</td>
                            <td width="7%" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" > 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" disabled> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" disabled> 
                            </td>
                                
                          </tr>
                          <tr>
                            <th width="7%" scope="row">RQ0005</th>
                            <td width="7%" style="white-space: normal;">Proyecto Pricing</td>
                            <td width="8%" style="white-space: normal;">01/03/2019</td>
                            <td width="8%" style="white-space: normal;">31/10/2019</td>
                            <td width="7%" style="white-space: normal; text-align: center;">46%</td>
                            <td width="7%" style="white-space: normal;">Bajo</td>
                            <td width="7%" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" > 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" disabled> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" disabled> 
                            </td>
                                
                          </tr>
                      </tbody>
                  </table>
              </div>    
                <div class="row">
                  <div class="col-sm-12">
                      <p style="text-align: left; color:#AA004F">
                          <strong><i class="material-icons" style="vertical-align: middle; " (click)="InActiva1()">library_add</i> Mantenimientos</strong>
                      </p>
                  </div>
                </div>
                <div class="table-responsive-md;" *ngIf="habilitar1" [style.overflow]="'auto'" [style.height.px]="'300'">
                  <table id="tblproyectos" name="tblproyectos" class="table table-md" style=" margin-bottom: 0px; table-layout: fixed; ">
                      <thead > 
                          <tr>
                              <th class="table-dark" width="100px" style="background-color: #4598D8; white-space: normal;"> Codigo </th>
                              <th class="table-dark" width="200px" style="background-color: #4598D8; white-space: normal;"> Título </th>
                              <th class="table-dark" width="100px" style="background-color: #4598D8; white-space: normal;"> F.Inicio </th>
                              <th class="table-dark" width="100px" style="background-color: #4598D8; white-space: normal;"> F.Fin </th>
                              <th class="table-dark" width="100px" style="background-color: #4598D8; white-space: normal;"> Avance </th>
                              <th class="table-dark" width="100px" style="background-color: #4598D8; white-space: normal;"> Prioridad </th>
                              <th class="table-dark" width="100px" style="background-color: #4598D8; white-space: normal;"> 13.01.20 </th>
                              <th class="table-dark" width="100px" style="background-color: #4598D8; white-space: normal;"> 14.01.20 </th>
                              <th class="table-dark" width="100px" style="background-color: #4598D8; white-space: normal;"> 15.01.20 </th>
                              <th class="table-dark" width="100px" style="background-color: #4598D8; white-space: normal;"> 16.01.20 </th>
                              <th class="table-dark" width="100px" style="background-color: #4598D8; white-space: normal;"> 17.01.20 </th>
                              <th class="table-dark" width="100px" style="background-color: #4598D8; white-space: normal;"> 18.01.20 </th>
                              <th class="table-dark" width="100px" style="background-color: #4598D8; white-space: normal;"> 19.01.20 </th>                              
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                            <th width="7%" scope="row">RQ0001</th>
                            <td width="7%" style="white-space: normal;">Proyecto Pricing</td>
                            <td width="8%" style="white-space: normal;">01/03/2019</td>
                            <td width="8%" style="white-space: normal;">31/10/2019</td>
                            <td width="7%" style="white-space: normal; text-align: center;">46%</td>
                            <td width="7%" style="white-space: normal;">Bajo</td>
                            <td width="7%" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" > 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" disabled> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" disabled> 
                            </td>
                                
                          </tr>
                          <tr>
                            <th width="7%" scope="row">RQ0002</th>
                            <td width="7%" style="white-space: normal;">Proyecto Pricing</td>
                            <td width="8%" style="white-space: normal;">01/03/2019</td>
                            <td width="8%" style="white-space: normal;">31/10/2019</td>
                            <td width="7%" style="white-space: normal; text-align: center;">46%</td>
                            <td width="7%" style="white-space: normal;">Bajo</td>
                            <td width="7%" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" > 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" disabled> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" disabled> 
                            </td>
                                
                          </tr>
                          <tr>
                            <th width="7%" scope="row">RQ0003</th>
                            <td width="7%" style="white-space: normal;">Proyecto Pricing</td>
                            <td width="8%" style="white-space: normal;">01/03/2019</td>
                            <td width="8%" style="white-space: normal;">31/10/2019</td>
                            <td width="7%" style="white-space: normal; text-align: center;">42%</td>
                            <td width="7%" style="white-space: normal;">Bajo</td>
                            <td width="7%" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" > 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" disabled> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" disabled> 
                            </td>
                                
                          </tr>
                          <tr>
                            <th width="7%" scope="row">RQ0004</th>
                            <td width="7%" style="white-space: normal;">Proyecto Pricing</td>
                            <td width="8%" style="white-space: normal;">01/03/2019</td>
                            <td width="8%" style="white-space: normal;">31/10/2019</td>
                            <td width="7%" style="white-space: normal; text-align: center;">46%</td>
                            <td width="7%" style="white-space: normal;">Bajo</td>
                            <td width="7%" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" > 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" disabled> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" disabled> 
                            </td>
                                
                          </tr>
                          <tr>
                            <th width="7%" scope="row">RQ0005</th>
                            <td width="7%" style="white-space: normal;">Proyecto Pricing</td>
                            <td width="8%" style="white-space: normal;">01/03/2019</td>
                            <td width="8%" style="white-space: normal;">31/10/2019</td>
                            <td width="7%" style="white-space: normal; text-align: center;">46%</td>
                            <td width="7%" style="white-space: normal;">Bajo</td>
                            <td width="7%" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" > 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;"> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" disabled> 
                            </td>
                            <td width="100px" style="white-space: normal;">
                              <input matInput #inputHoras type="number" value="0" style="text-align: center; width: 50px;" disabled> 
                            </td>
                                
                          </tr>
                      </tbody>
                  </table>
             
                   
                </div>   

            </div>
        </div>
    </div>
</div>
