<div *ngIf="loading" class="content-load">
  <br>
  <mat-spinner class="child-load"></mat-spinner>
  <br>
  <mat-label class="child-load"><strong>Cargando... </strong></mat-label>
</div>
<div class="row" [formGroup]="regHoras">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <h5 class="card-title">
              <p style="vertical-align: middle; color:#3F52B6">
                <i class="material-icons" style="vertical-align: middle; ">schedule</i> Planifica tus Actividades
                Diarias
            </h5>
            <mat-form-field class="example-full-width">
              <mat-label>Ingrese usuario</mat-label>
              <input name="usuario" matInput placeholder="Ingreso de usuario" value="" (change)="onChange($event)"
                oninput="this.value = this.value.toUpperCase()">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p style="text-align: left; color:#AA004F">
              <strong><i class="material-icons" style="vertical-align: middle; " (click)="InActiva()">library_add</i>
                Proyectos</strong>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <mat-form-field>
              <mat-select formControlName="estadoHorasSelect" placeholder="Selecciona estado" style="font-size: small;">
                <mat-option [value]="2">Asignado</mat-option>
                <mat-option [value]="3">Terminado</mat-option>
                <mat-option [value]="4">Suspendido</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-8"></div>
          <div class="col-sm-2 align-right">
            <button mat-raised-button type="button" class="btn-primary" (click)='saveHoras("tableHoras", true)'>
              <mat-icon>save</mat-icon> Guardar
            </button>
          </div>
        </div>
        <div class="pipeline-body">
          <table mat-table [dataSource]="proyectoIniciativas" matSort id="tableHoras">
            <ng-container matColumnDef="codigosvt">
              <th mat-header-cell *matHeaderCellDef width ="10%"> N° SVT/TICKET </th>
              <td mat-cell *matCellDef="let tipo" id="{{tipo.iniciativa.idIniciativa}}"> {{tipo.iniciativa.codigoSVT}}
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="titulo">
              <th mat-header-cell *matHeaderCellDef> TITULO </th>
              <td mat-cell *matCellDef="let tipo"> {{tipo.iniciativa.titulo}} </td>
            </ng-container>
            <ng-container matColumnDef="fechainicio">
              <th mat-header-cell *matHeaderCellDef width ="8%"> FECHA INICIO </th>
              <td mat-cell *matCellDef="let tipo"> {{tipo.iniciativa.fechaInicio | date: 'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="fechafin">
              <th mat-header-cell *matHeaderCellDef width ="8%"> FECHA FIN </th>
              <td mat-cell *matCellDef="let tipo"> {{tipo.iniciativa.fechaFin | date: 'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="avance">
              <th mat-header-cell *matHeaderCellDef width ="6%"> AVANCE </th>
              <td mat-cell *matCellDef="let tipo"> {{tipo.avance}} </td>
            </ng-container>
            <ng-container matColumnDef="prioridad">
              <th mat-header-cell *matHeaderCellDef width ="7%"> PRIORIDAD </th>
              <td mat-cell *matCellDef="let tipo"> {{tipo.iniciativa.prioridad.descripcion}} </td>
            </ng-container>
            <ng-container [matColumnDef]="columnName" *ngFor="let columnName of columnasFechTabla; let i = index">
              <th mat-header-cell *matHeaderCellDef width ="5%">{{columnName}}</th>
              <ng-container>
                <td mat-cell *matCellDef="let element"><input #inputHoras type="number" step="1" min="1" max="14"
                    onPaste="return false" onKeyPress="if(this.value.length==2) return false;"
                    oninput="this.value = Math.trunc(this.value)" value="{{element.horasFecha[i]}}"
                    style="text-align: center; width: 50px;"> </td>
              </ng-container>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnasTabla" class="encabezado"></tr>
            <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p style="text-align: left; color:#AA004F">
              <strong><i class="material-icons" style="vertical-align: middle; " (click)="InActiva1()">library_add</i>
                Mantenimientos</strong>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <mat-form-field>
              <mat-select formControlName="estadoHorasMantSelect" placeholder="Selecciona estado" style="font-size: small;">
                <mat-option [value]="2">Asignado</mat-option>
                <mat-option [value]="3">Terminado</mat-option>
                <mat-option [value]="4">Suspendido</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-8"></div>
          <div class="col-sm-2 align-right">
            <button mat-raised-button type="button" class="btn-primary" (click)='saveHoras("tableHorasMantenimiento", true)'>
              <mat-icon>save</mat-icon> Guardar
            </button>
          </div>
        </div>
        <div class="pipeline-body">
          <table mat-table [dataSource]="mantenimientoIniciativas" matSort id="tableHorasMantenimiento">
            <ng-container matColumnDef="codigosvt">
              <th mat-header-cell *matHeaderCellDef width ="10%"> N° SVT/TICKET </th>
              <td mat-cell *matCellDef="let tipo" id="{{tipo.iniciativa.idIniciativa}}"> {{tipo.iniciativa.codigoSVT}}
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="titulo">
              <th mat-header-cell *matHeaderCellDef> TITULO </th>
              <td mat-cell *matCellDef="let tipo"> {{tipo.iniciativa.titulo}} </td>
            </ng-container>
            <ng-container matColumnDef="fechainicio">
              <th mat-header-cell *matHeaderCellDef width ="8%"> FECHA INICIO </th>
              <td mat-cell *matCellDef="let tipo"> {{tipo.iniciativa.fechaInicio | date: 'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="fechafin">
              <th mat-header-cell *matHeaderCellDef width ="8%"> FECHA FIN </th>
              <td mat-cell *matCellDef="let tipo"> {{tipo.iniciativa.fechaFin | date: 'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="avance">
              <th mat-header-cell *matHeaderCellDef width ="6%"> AVANCE </th>
              <td mat-cell *matCellDef="let tipo"> {{tipo.avance}} </td>
            </ng-container>
            <ng-container matColumnDef="prioridad">
              <th mat-header-cell *matHeaderCellDef width ="7%"> PRIORIDAD </th>
              <td mat-cell *matCellDef="let tipo"> {{tipo.iniciativa.prioridad.descripcion}} </td>
            </ng-container>
            <ng-container [matColumnDef]="columnName" *ngFor="let columnName of columnasFechTabla; let i = index">
              <th mat-header-cell *matHeaderCellDef width ="5%">{{columnName}}</th>
              <ng-container>
                <td mat-cell *matCellDef="let element"><input #inputHoras type="number" step="1" min="1" max="14"
                    onPaste="return false" onKeyPress="if(this.value.length==2) return false;"
                    oninput="this.value = Math.trunc(this.value)" value="{{element.horasFecha[i]}}"
                    style="text-align: center; width: 50px;"> </td>
              </ng-container>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnasTabla" class="encabezado"></tr>
            <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
        
        <div class="row">
          <div class="col-sm-12">
            <p style="text-align: left; color:#AA004F">
              <strong><i class="material-icons" style="vertical-align: middle; " (click)="InActiva2()">library_add</i>
                Soporte</strong>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <mat-form-field>
              <mat-select formControlName="estadoHorasSoporteSelect" placeholder="Selecciona estado" style="font-size: small;">
                <mat-option [value]="2">Asignado</mat-option>
                <mat-option [value]="3">Terminado</mat-option>
                <mat-option [value]="4">Suspendido</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-8"></div>
          <div class="col-sm-2 align-right">
            <button mat-raised-button type="button" class="btn-primary" (click)='saveHoras("tableHorasSoporte", true)'>
              <mat-icon>save</mat-icon> Guardar
            </button>
          </div>
        </div>
        <div class="pipeline-body">
          <table mat-table [dataSource]="soporteIniciativas" matSort id="tableHorasSoporte">
            <ng-container matColumnDef="codigosvt">
              <th mat-header-cell *matHeaderCellDef width ="10%"> N° SVT/TICKET </th>
              <td mat-cell *matCellDef="let tipo" id="{{tipo.iniciativa.idIniciativa}}"> {{tipo.iniciativa.codigoSVT}}
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="titulo">
              <th mat-header-cell *matHeaderCellDef> TITULO </th>
              <td mat-cell *matCellDef="let tipo"> {{tipo.iniciativa.titulo}} </td>
            </ng-container>
            <ng-container matColumnDef="fechainicio">
              <th mat-header-cell *matHeaderCellDef width ="8%"> FECHA INICIO </th>
              <td mat-cell *matCellDef="let tipo"> {{tipo.iniciativa.fechaInicio | date: 'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="fechafin">
              <th mat-header-cell *matHeaderCellDef width ="8%"> FECHA FIN </th>
              <td mat-cell *matCellDef="let tipo"> {{tipo.iniciativa.fechaFin | date: 'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="avance">
              <th mat-header-cell *matHeaderCellDef width ="6%"> AVANCE </th>
              <td mat-cell *matCellDef="let tipo"> {{tipo.avance}} </td>
            </ng-container>
            <ng-container matColumnDef="prioridad">
              <th mat-header-cell *matHeaderCellDef width ="7%"> PRIORIDAD </th>
              <td mat-cell *matCellDef="let tipo"> {{tipo.iniciativa.prioridad.descripcion}} </td>
            </ng-container>
            <ng-container [matColumnDef]="columnName" *ngFor="let columnName of columnasFechTabla; let i = index">
              <th mat-header-cell *matHeaderCellDef width ="5%">{{columnName}}</th>
              <ng-container>
                <td mat-cell *matCellDef="let element"><input #inputHoras type="number" step="1" min="1" max="14"
                    onPaste="return false" onKeyPress="if(this.value.length==2) return false;"
                    oninput="this.value = Math.trunc(this.value)" value="{{element.horasFecha[i]}}"
                    style="text-align: center; width: 50px;"> </td>
              </ng-container>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnasTabla" class="encabezado"></tr>
            <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
        
        <div class="row">
          <div class="col-sm-12">
            <p style="text-align: left; color:#AA004F">
              <strong><i class="material-icons" style="vertical-align: middle; " (click)="InActiva3()">library_add</i>
                Incidencias </strong>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <mat-form-field>
              <mat-select formControlName="estadoHorasIncidenciaSelect" placeholder="Selecciona estado" style="font-size: small;">
                <mat-option [value]="2">Asignado</mat-option>
                <mat-option [value]="3">Terminado</mat-option>
                <mat-option [value]="4">Suspendido</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-8"></div>
          <div class="col-sm-2 align-right">
            <button mat-raised-button type="button" class="btn-primary" (click)='saveHoras("tableHorasIncidencia", true)'>
              <mat-icon>save</mat-icon> Guardar
            </button>
          </div>
        </div>
        <div class="pipeline-body">
          <table mat-table [dataSource]="incidenciaIniciativas" matSort id="tableHorasIncidencia">
            <ng-container matColumnDef="codigosvt">
              <th mat-header-cell *matHeaderCellDef width ="10%"> N° SVT/TICKET </th>
              <td mat-cell *matCellDef="let tipo" id="{{tipo.iniciativa.idIniciativa}}"> {{tipo.iniciativa.codigoSVT}}
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="titulo">
              <th mat-header-cell *matHeaderCellDef> TITULO </th>
              <td mat-cell *matCellDef="let tipo"> {{tipo.iniciativa.titulo}} </td>
            </ng-container>
            <ng-container matColumnDef="fechainicio">
              <th mat-header-cell *matHeaderCellDef width ="8%"> FECHA INICIO </th>
              <td mat-cell *matCellDef="let tipo"> {{tipo.iniciativa.fechaInicio | date: 'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="fechafin">
              <th mat-header-cell *matHeaderCellDef width ="8%"> FECHA FIN </th>
              <td mat-cell *matCellDef="let tipo"> {{tipo.iniciativa.fechaFin | date: 'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="avance">
              <th mat-header-cell *matHeaderCellDef width ="6%"> AVANCE </th>
              <td mat-cell *matCellDef="let tipo"> {{tipo.avance}} </td>
            </ng-container>
            <ng-container matColumnDef="prioridad">
              <th mat-header-cell *matHeaderCellDef width ="7%"> PRIORIDAD </th>
              <td mat-cell *matCellDef="let tipo"> {{tipo.iniciativa.prioridad.descripcion}} </td>
            </ng-container>
            <ng-container [matColumnDef]="columnName" *ngFor="let columnName of columnasFechTabla; let i = index">
              <th mat-header-cell *matHeaderCellDef width ="5%">{{columnName}}</th>
              <ng-container>
                <td mat-cell *matCellDef="let element"><input #inputHoras type="number" step="1" min="1" max="14"
                    onPaste="return false" onKeyPress="if(this.value.length==2) return false;"
                    oninput="this.value = Math.trunc(this.value)" value="{{element.horasFecha[i]}}"
                    style="text-align: center; width: 50px;"> </td>
              </ng-container>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnasTabla" class="encabezado"></tr>
            <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
        
      </div>
    </div>
  </div>
</div>