<div *ngIf="loading" class="content-load">
    <br>
    <mat-spinner class="child-load"></mat-spinner>
    <br>
    <mat-label class="child-load"><strong>Cargando... </strong></mat-label>
</div>
<div class="pipeline white lined-primary">
    <div class="pipeline-header">
        <h5 class="pipeline-name">
            Mantenimiento de Usuario - Perfil
        </h5> 
        <div class="pipeline-settings os-dropdown-trigger">
            <div class="dropdown">
                <div class="pipeline-settings os-dropdown-trigger">
                    <button mat-raised-button type="button" class="btn-primary btn-save" align="right" (click)='openDialogNew()'>
                      <mat-icon>record_voice_overy</mat-icon> Nuevo</button>
                </div>
            </div>
        </div>
    </div>
        <mat-form-field>
            <input matInput (keyup)="buscarDatos($event.target.value)" placeholder="Buscar">
        </mat-form-field>
        <div class="example-container1 mat-elevation-z8">
            <table mat-table [dataSource]="colaborador" matSort>

                <!-- Position Column -->
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header > ID </th>
                    <td mat-cell *matCellDef="let tipo" (click)="selectedDocumento(tipo)"> {{tipo.codigo}} </td>
                </ng-container>

                <!-- Position Column -->
                <ng-container matColumnDef="usuario">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header > USUARIO </th>
                    <td mat-cell *matCellDef="let tipo" (click)="selectedDocumento(tipo)"> {{tipo.usuario}} </td>
                </ng-container>
        
                <!-- Name Column -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRES DE USUARIO </th>
                    <td mat-cell *matCellDef="let tipo" (click)="selectedDocumento(tipo)"> {{tipo.nombre}} </td>
                </ng-container>
        
                <ng-container matColumnDef="cargo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header width ="20%"> CARGO </th>
                    <td mat-cell *matCellDef="let tipo" (click)="selectedDocumento(tipo)"> {{tipo.cargo}}
                    </td>
                </ng-container>
        
                <ng-container matColumnDef="perfil">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header width ="20%"> PERFIL </th>
                    <td mat-cell *matCellDef="let tipo" (click)="selectedDocumento(tipo)"> {{tipo.perfil}}
                    </td>
                </ng-container>
        
               
                <ng-container matColumnDef="accion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header width ="8%"> ACCION </th>
                    <td mat-cell *matCellDef="let tipo">
                       
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnasTabla; sticky: true;" class="encabezado"></tr>
                <tr mat-row *matRowDef="let row; columns: columnasTabla;"
                    [ngClass]="{'highlight': selectedRowIndex == row.usuario}" (click)="highlight(row)"></tr>
            </table>
        </div>     
</div>
