<div class="pipeline white lined-primary" style="height:450px;">
    <div class="pipeline-header">
        <h5 class="pipeline-name">
            Reporte de Avances
        </h5> 
        <div class="pipeline-settings os-dropdown-trigger">
            <div class="dropdown">
                <div class="pipeline-settings os-dropdown-trigger">
                    <button mat-raised-button class="btn-info" (click)="generateAndDownloadPdf()">
                        <mat-icon>file_download</mat-icon>
                        Descargar PDF
                    </button>
                </div>               
            </div>
        </div>
    </div>


    <mat-form-field>
        <mat-label>Tipo de Actividades</mat-label>
        <mat-select [formControl]="tipoiniciativa" multiple (selectionChange)="select1(tipoiniciativa)">
            <mat-select-trigger>
            {{tipoiniciativa.value ? tipoiniciativa.value[0] : ''}}
            <span *ngIf="tipoiniciativa.value?.length > 1" class="example-additional-selection">
                (+{{tipoiniciativa.value.length - 1}} {{tipoiniciativa.value?.length === 2 ? 'Otros' : 'Otros'}})
            </span>
            </mat-select-trigger>
            <mat-option *ngFor="let tipoiniciativas of tipoiniciativalista" [value]="tipoiniciativas">{{tipoiniciativas}}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Estado</mat-label>
        <mat-select [formControl]="tiporeporte" multiple (selectionChange)="select2(tiporeporte)">
          <mat-select-trigger>
            {{tiporeporte.value ? tiporeporte.value[0] : ''}}
            <span *ngIf="tiporeporte.value?.length > 1" class="example-additional-selection">
              (+{{tiporeporte.value.length - 1}} {{tiporeporte.value?.length === 2 ? 'Otros' : 'Otros'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let tiporeportelistas of tiporeportelista" [value]="tiporeportelistas">{{tiporeportelistas}}</mat-option>
        </mat-select>
    </mat-form-field> 
    <mat-checkbox #checkbox (change)='select3(checkbox.checked)' value=''>Muestra horas</mat-checkbox>
     
    <div class="example-container1 mat-elevation-z8"> 
        <div class="panel-body" [ngStyle]="headingCss" >
            <div id="statusReportPdf" #statusReportPdf>

    <table class="titulo">
        <tr>
          
            <td width="3%">
                
            </td>
            <td>
                Financiaria Confianza BBVA
            </td>
            <td>
               
            </td>
            <td>
                Fecha: {{this.fecha | date:'dd-MM-yyyy'}}
            </td>
        </tr>
        <tr>
            <td width="3%"></td>
            <td>
                Usuario: {{this.nombreusuario}}
            </td>
            <td>
                
            </td>
            <td>
                Hora: {{this.hora | date:'hh:mm:ss'}}
            </td>
        </tr>
        <tr>
            <td width="3%"></td>
            <td>
               
            </td>
            <td style="font-size: large;">
                <strong><u>Reporte de Avances</u></strong>
            </td>
            <td>
                
            </td>
        </tr>
    </table>
    <table>  
        <tr>            
            <td colspan="8">______________________________________________________________________________________________________________________________________________________________________________________________</td>          
        </tr>
        <tr>
            <td *ngIf="!this.muestrahoras"></td>
            <td>
                
            </td>
            <td load><strong><u>PROYECTO</u></strong></td>
        </tr>  
        <tr>    
            <td *ngIf="!this.muestrahoras"></td>
            <td width=3%>   </td>  
            <td width=5%><strong><u>SVT</u></strong></td>
            <td width=42%><strong><u>DESCRIPCION</u></strong></td>
            <td width=10%><strong><u>ESTADO</u></strong></td>
            <td width=10%><strong><u>F.INICIO</u></strong></td>
            <td width=10%><strong><u>F.FIN</u></strong></td>
            <td width=10% align="center"><strong><u>% AVANCE</u></strong></td>
            <td width=10% align="center" *ngIf="this.muestrahoras"><strong><u>HORAS</u></strong></td>
        </tr>  
        <ng-container *ngFor="let item of iniciativas.data">                        
            <tr *ngIf="item.tipo=='PROYECTO'" >
                <td *ngIf="!this.muestrahoras"></td>
                <td></td>              
                <td>{{item.codigoSVT}}</td>
                <td><strong>{{item.titulo}}</strong></td>
                <td>{{item.estado}}</td>
                <td>{{item.fechainicio | date:'dd-MM-yyyy'}}</td>
                <td>{{item.fechafin | date:'dd-MM-yyyy'}}</td>
                <td align="center">{{item.avances}}</td>
                <td align="center" *ngIf="this.muestrahoras">{{item.horasavance}}</td>
            </tr>
            <tr *ngIf="item.tipo=='PROYECTO'">   
                <td *ngIf="!this.muestrahoras"></td>
                <td></td>           
                <td></td>
                <td><strong><u>ASIGNADO</u></strong></td>
                <td></td>
                <td></td>
                <td align="center"><strong><u>% ASIGNADO</u></strong></td>
                <td align="center"><strong><u>HORAS</u></strong></td>
            </tr>
                <ng-container *ngFor="let itemd of iniciativasemp.data"> 
                <tr *ngIf="item.tipo=='PROYECTO'&&item.tipo==itemd.tipo&&item.codigoSVT==itemd.codigoSVT">           
                    <td *ngIf="!this.muestrahoras"></td>
                    <td></td>  
                    <td></td>
                    <td>{{itemd.titulo}}</td>
                    <td></td>
                    <td></td>
                    <td align="center">{{itemd.porcentaje}}</td>
                    <td align="center">{{itemd.total}}</td>
                </tr>
            </ng-container>  
        </ng-container>                      
        <tr>            
            <td colspan="8">______________________________________________________________________________________________________________________________________________________________________________________________</td>          
        </tr>
        <tr>
            <td *ngIf="!this.muestrahoras"></td>
            <td></td>  
            <td load><strong><u>MANTENIMIENTO</u></strong></td>
        </tr>  
        <tr>       
            <td *ngIf="!this.muestrahoras"></td>
            <td width=3%>   </td>   
            <td width=5%><strong><u>SVT</u></strong></td>
            <td width=42%><strong><u>DESCRIPCION</u></strong></td>
            <td width=10%><strong><u>ESTADO</u></strong></td>
            <td width=10%><strong><u>F.INICIO</u></strong></td>
            <td width=10%><strong><u>F.FIN</u></strong></td>
            <td width=10% align="center"><strong><u>% AVANCE</u></strong></td>
            <td width=10% align="center" *ngIf="this.muestrahoras"><strong><u>HORAS</u></strong></td>
        </tr>  
        <ng-container *ngFor="let item of iniciativas.data">                        
            <tr *ngIf="item.tipo=='MANTENIMIENTO'" >  
                <td *ngIf="!this.muestrahoras"></td>  
                <td></td>          
                <td>{{item.codigoSVT}}</td>
                <td><strong>{{item.titulo}}</strong></td>
                <td>{{item.estado}}</td>
                <td>{{item.fechainicio | date:'dd-MM-yyyy'}}</td>
                <td>{{item.fechafin | date:'dd-MM-yyyy'}}</td>
                <td align="center">{{item.avances}}</td>
                <td align="center" *ngIf="this.muestrahoras">{{item.horasavance}}</td>
            </tr>
            <tr *ngIf="item.tipo=='MANTENIMIENTO'"> 
                <td *ngIf="!this.muestrahoras"></td>
                <td></td>             
                <td></td>
                <td><strong><u>ASIGNADO</u></strong></td>
                <td></td>
                <td></td>
                <td align="center"><strong><u>% ASIGNADO</u></strong></td>
                <td align="center"><strong><u>HORAS</u></strong></td>
            </tr>
                <ng-container *ngFor="let itemd of iniciativasemp.data"> 
                    
                <tr *ngIf="item.tipo=='MANTENIMIENTO'&&item.tipo==itemd.tipo&&item.codigoSVT==itemd.codigoSVT">           
                    <td *ngIf="!this.muestrahoras"></td>
                    <td></td>  
                    <td></td>
                    <td>{{itemd.titulo}}</td>
                    <td></td>
                    <td></td>
                    <td align="center">{{itemd.porcentaje}}</td>
                    <td align="center">{{itemd.total}}</td>
                </tr>
            </ng-container>  
        </ng-container>                      
        <tr>            
            <td colspan="8">______________________________________________________________________________________________________________________________________________________________________________________________</td>          
        </tr>
        <tr>
            <td *ngIf="!this.muestrahoras"></td>
            <td></td>  
            <td load><strong><u>INCIDENCIA</u></strong></td>
        </tr>  
        <tr>       
            <td *ngIf="!this.muestrahoras"></td>
            <td width=3%>   </td>
            <td width=5%><strong><u>TICKET</u></strong></td>
            <td width=45%><strong><u>DESCRIPCION</u></strong></td>
            <td width=10%><strong><u>ESTADO</u></strong></td>
            <td width=10%><strong><u>F.INICIO</u></strong></td>
            <td width=10%><strong><u>F.FIN</u></strong></td>
            <td width=10% align="center"><strong><u>% AVANCE</u></strong></td>
            <td width=10% align="center" *ngIf="this.muestrahoras"><strong><u>HORAS</u></strong></td>
        </tr>  
        <ng-container *ngFor="let item of iniciativas.data">                        
            <tr *ngIf="item.tipo=='INCIDENCIA'" >  
                <td *ngIf="!this.muestrahoras"></td>
                <td></td>          
                <td>{{item.codigoSVT}}</td>
                <td><strong>{{item.titulo}}</strong></td>
                <td>{{item.estado}}</td>
                <td>{{item.fechainicio | date:'dd-MM-yyyy'}}</td>
                <td>{{item.fechafin | date:'dd-MM-yyyy'}}</td>
                <td align="center">{{item.avances}}</td>
                <td align="center" *ngIf="this.muestrahoras">{{item.horasavance}}</td>
            </tr>
            <tr *ngIf="item.tipo=='INCIDENCIA'">   
                <td *ngIf="!this.muestrahoras"></td>
                <td></td>           
                <td></td>
                <td><strong><u>ASIGNADO</u></strong></td>
                <td></td>
                <td></td>
                <td align="center"><strong><u>% ASIGNADO</u></strong></td>
                <td align="center"><strong><u>HORAS</u></strong></td>
            </tr>
                <ng-container *ngFor="let itemd of iniciativasemp.data"> 
                <tr *ngIf="item.tipo=='INCIDENCIA'&&item.tipo==itemd.tipo&&item.codigoSVT==itemd.codigoSVT">           
                    <td *ngIf="!this.muestrahoras"></td>
                    <td></td>  
                    <td></td>
                    <td>{{itemd.titulo}}</td>
                    <td></td>
                    <td></td>
                    <td align="center">{{itemd.porcentaje}}</td>
                    <td align="center">{{itemd.total}}</td> 
                </tr>
            </ng-container>  
        </ng-container>                      
        <tr>            
            <td colspan="8">______________________________________________________________________________________________________________________________________________________________________________________________</td>          
        </tr>
    </table>   
             </div> 
        </div> 
    </div> 
</div>  
