.example-panel-red.mat-select-panel {
    background: rgba(255, 0, 0, 0.5);
  }
  
  .example-panel-yell.mat-select-panel {
    background: rgb(248, 244, 14);
  }
  
  .example-panel-blue.mat-select-panel {
    background: rgba(76, 241, 54, 0.5);
  }