.example-panel-1.mat-select-panel {
    background: rgba(255, 0, 0, 0.5);
  }
  
  .example-panel-2.mat-select-panel {
    background: rgb(248, 244, 14);
  }
  
  .example-panel-3.mat-select-panel {
    background: rgba(76, 241, 54, 0.5);
  }
  .pointer{
    cursor:pointer;
  }