<div class="example-container"  *ngIf="shouldRun">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <a class="navbar-brand" href="#"><img class="logo" src="../../assets/images/logo-blanco.png" alt="" width="270"></a>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav>
      <mat-nav-list>
        <br>
        <a mat-list-item [routerLink]="['listado_atencion']"> 
          <p style=color:#3F52B6>
            <strong> 
              <i class="material-icons md-11" style="vertical-align: middle;" >assignment</i>
               Seguimiento
            </strong>
          </p>
        </a>
        <br>
        <a mat-list-item [routerLink]="['registrar_iniciativa']"> 
          <p style=color:#3F52B6>
            <strong> 
              <i class="material-icons md-18" style="vertical-align: middle;">library_add</i>
              Registra
            </strong>
          </p>
        </a>
        <br>
        <a mat-list-item [routerLink]="['registro_horas']"> 
          <p style=color:#3F52B6>
            <strong> 
              <i class="material-icons md-18" style="vertical-align: middle;">schedule</i>
               Planea
            </strong>
          </p>  
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      
      <router-outlet></router-outlet>
      <div class="container text-center pb-5; ">
        <p style=color:#3F52B6>
          <strong>         
            El EQUIPO DE SISTEMAS "¡ Un equipo un objetivo... !"
          </strong>
        </p>  
      </div>
      <div class="container text-center pb-5; ">
         
        <img src="assets\images\fondo8.png" class="img-fluid">

        </div>

        <div class="row container text-center pb-5;" >
          <div class="col-md-5"></div>
          <div class="col-md-2">
              <button type="button" class="btn btn-primary active" style="width: 200px;" [routerLink]="['registrar_iniciativa']"><img src="assets\images\fondo13.png" class="img-fluid" style="width: 20%;  "> Registrar </button>
         </div>
         <div class="col-md-2" align="left">
             <button type="button" class="btn btn-info" style="width: 200px;" [routerLink]="['registro_horas']"><img src="assets\images\fondo3.png" class="img-fluid" style="width: 20%;"> Planificar</button>
         </div> 
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="!shouldRun">...</div>










