<div class="example-container"  *ngIf="shouldRun">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <a class="navbar-brand" href="#"><img class="logo" src="assets/images/logo-blanco.png" alt="" width="270"></a>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['dashboard']"> 
          <p style=color:#3F52B6>
            <strong> 
              <i class="material-icons md-11" style="vertical-align: middle;" >3d_rotation</i>
               Dashboard
            </strong>
          </p>
        </a>
        <a mat-list-item [routerLink]="['listado_atencion']"> 
          <p style=color:#3F52B6>
            <strong> 
              <i class="material-icons md-11" style="vertical-align: middle;" >settings_input_antenna</i>
               Iniciativas
            </strong>
          </p>
        </a>
        <a mat-list-item [routerLink]="['registro_contacto']"> 
          <p style=color:#3F52B6>
            <strong> 
              <i class="material-icons md-18" style="vertical-align: middle;">record_voice_overy</i>
              Registra Contacto
            </strong>
          </p>
        </a>
        <a mat-list-item [routerLink]="['registro_horas']"> 
          <p style=color:#3F52B6>
            <strong> 
              <i class="material-icons md-18" style="vertical-align: middle;">alarm_on</i>
               Planea
            </strong>
          </p>  
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      
      <router-outlet></router-outlet>
      <div class="container text-center pb-5; ">
        <p style=color:#3F52B6>
          <strong>         
            El EQUIPO DE SISTEMAS "¡ Un equipo un objetivo... !"
          </strong>
        </p>  
      </div>
      <div class="container text-center pb-5;" disabled>
         
        <img src="assets\images\fondo8.png" class="img-fluid">

        </div>
      
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="!shouldRun">...</div>










