<br>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">
                    <p align="left" style=color:#3F52B6>
                    <strong> <i class="material-icons">assignment</i> STATUS REPORT </strong></p></h4>
                    <p class="card-category">Lista de atenciones para mantenimiento.</p> 
            </div>
            <div class="card-body">
                <div class="table-responsive-md">
                    <table class="table table-md" style=" margin-bottom: 0px; table-layout: fixed; ">
                        <thead > 
                            <tr>
                                <th class="table-dark" style="width:30px">#</th>
                                <th class="table-dark" width="100px" style="white-space: normal;"> N° de Atención </th>
                                <th class="table-dark" width="100px" style="white-space: normal;"> Título </th>
                                <th class="table-dark" width="100px" style="white-space: normal;"> Fecha Inicio </th>
                                <th class="table-dark" width="100px" style="white-space: normal;"> Fecha Fin </th>
                                <th class="table-dark" width="100px" style="white-space: normal;"> Estado </th>
                                <th class="table-dark" width="100px" style="white-space: normal;"> Prioridad </th>
                                <th class="table-dark" width="100px" style="white-space: normal;"> Recursos </th>
                                <th class="table-dark" width="100px" style="white-space: normal;"> Riesgos </th>
                                <th class="table-dark" width="100px" style="white-space: normal;"> Seguimiento </th>
                                <th class="table-dark" width="100px" style="white-space: normal;"> Modificar </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td width="100px" style="white-space: normal;">000000001</td>
                              <td width="100px" style="white-space: normal;">Proyecto Pricing</td>
                              <td width="100px" style="white-space: normal;">01/03/2019</td>
                              <td width="100px" style="white-space: normal;">31/10/2019</td>
                              <td width="100px" style="white-space: normal;">En Proceso</td>
                              <td width="100px" style="white-space: normal;">Alta</td>
                              <td>
                                
                                <button mat-raised-button (click)="openDialog()" class="link">
                                  <p align="left" style=color:#3F52B6>
                                    <strong> &nbsp; &nbsp; <i class="material-icons">people</i></strong></p>
                                  
                                </button>
                              </td>
                              <td> 
                                <p align="left" style=color:#3F52B6>
                                    
                                    <button mat-raised-button (click)="openDialog2()" class="link">
                                      <p align="left" style=color:#3F52B6>
                                        <strong> &nbsp; &nbsp; <i class="material-icons">notification_important</i></strong></p>
                                      
                                    </button>
                              </td>
                              <td> 
                                <p align="left" style=color:#3F52B6>
                                <strong> &nbsp; &nbsp;<i class="material-icons">event_note</i></strong></p>
                              </td>
                              <td> 
                                <p align="left" style=color:#3F52B6>
                                <strong> &nbsp; &nbsp;<i class="material-icons">edit</i></strong></p>
                              </td>
                            </tr>
                            <tr>
                              <th  scope="row">2</th>
                              <td>000000002</td>
                              <td>Gestor de Documentos</td>
                              <td>01/06/2019</td>
                              <td>30/11/2019</td>
                              <td>En Proceso</td>
                              <td>Medio</td>
                              <td>
                                <p align="left" style=color:#3F52B6>
                                <strong> &nbsp; &nbsp;<i class="material-icons">people</i></strong></p>
                              </td>
                              <td> 
                                <p align="left" style=color:#3F52B6>
                                <strong> &nbsp; &nbsp;<i class="material-icons">notification_important</i></strong></p> </td>
                              <td>
                                <p align="left" style=color:#3F52B6>
                                    <strong> &nbsp; &nbsp;<i class="material-icons">event_note</i></strong></p>
                              </td>
                              <td> 
                                <p align="left" style=color:#3F52B6>
                                <strong> &nbsp; &nbsp;<i class="material-icons">edit</i></strong></p>
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>000000003</td>
                              <td>Pre Evaluador</td>
                              <td>01/01/2017</td>
                              <td>30/05/2017</td>
                              <td>Terminado</td>
                              <td>Alto</td>
                              <td>
                                <p align="left" style=color:#3F52B6>
                                    <strong>&nbsp; &nbsp; <i class="material-icons">people</i></strong></p>
                              </td>
                              <td>
                                <p align="left" style=color:#3F52B6>
                                    <strong>&nbsp; &nbsp; <i class="material-icons">notification_important</i></strong></p> 
                              </td>
                              <td>
                                <p align="left" style=color:#3F52B6>
                                    <strong>&nbsp; &nbsp; <i class="material-icons">event_note</i></strong></p>
                              </td>
                              <td> 
                                <p align="left" style=color:#3F52B6>
                                <strong> &nbsp; &nbsp;<i class="material-icons">edit</i></strong></p>
                              </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> 