<br>
<div class="row">
    <div class="col-md-12">
        <div class="card" >
            <div class="card-header card-header-primary">
                <h4 class="card-title">
                    <p style="text-align: center; color:#3F52B6;">
                    <strong> <i class="material-icons">assignment</i> Historial de Atenciones </strong></p></h4>
            </div>
            <div class="card-body" [style.overflow]="'auto'" [style.height.px]="'300'">
                <div class="table-responsive-md">
                    <table class="table table-md" style=" margin-bottom: 0px; table-layout: fixed; ">
                        <thead > 
                            <tr>
                                <th class="table-dark" style="background-color: #4598D8; width:77px">Codigo</th>
                                <th class="table-dark" style="background-color: #4598D8; white-space: normal;" width="150px" > Titulo de Aten.</th>
                                <th class="table-dark" style="background-color: #4598D8; white-space: normal;" width="100px" > Asignado </th>
                                <th class="table-dark" style="background-color: #4598D8; white-space: normal;" width="120px" > Fecha Inicio </th>
                                <th class="table-dark" style="background-color: #4598D8; white-space: normal;" width="100px" > Fecha Fin </th>
                                <th class="table-dark" style="background-color: #4598D8; white-space: normal;" width="100px" > Estado </th>
                                <th class="table-dark" style="background-color: #4598D8; white-space: normal;" width="100px" > Prioridad </th>
                                <th class="table-dark" style="background-color: #4598D8; white-space: normal;" width="100px" > Recursos </th>
                                <th class="table-dark" style="background-color: #4598D8; white-space: normal;" width="100px" > Riesgos </th>
                                <th class="table-dark" style="background-color: #4598D8; white-space: normal;" width="110px" > Sucesos  </th>
                                <th class="table-dark" style="background-color: #4598D8; white-space: normal;" width="100px" > Actualizar </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <th scope="row">RQ0001</th>
                              <td width="100px" style="white-space: normal;">Proyecto Pricing</td>
                              <td width="100px" style="white-space: normal;">Jean P.</td>
                              <td width="100px" style="white-space: normal; text-align: center;">01/03/2019</td>
                              <td width="100px" style="white-space: normal; text-align: center;">31/10/2019</td>
                              <td width="100px" style="white-space: normal;">En Proceso</td>
                              <td width="100px" style="white-space: normal; text-align: center;">Alta</td>
                              <td>
                                <p style="text-align: center; color:#3F52B6">
                                  <strong><i class="material-icons link" (click)="openDialog()">people</i></strong></p>
                              </td>
                              <td> 
                                <p style="text-align: center; color:#3F52B6">
                                  <strong><i class="material-icons link" (click)="openDialog2()">notification_important</i></strong></p> 
                              </td>
                              <td> 
                                <p style="text-align: center; color:#3F52B6">
                                  <strong><i class="material-icons link" (click)="openDialog3()">event_note</i></strong></p>                        
                              </td>
                              <td> 
                                <p style="text-align: center; color:#3F52B6">
                                  <strong><i class="material-icons link" (click)="openDialog3()">edit</i></strong></p>
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">RQ0002</th>
                              <td width="100px" style="white-space: normal;">Proyecto Pricing</td>
                              <td width="100px" style="white-space: normal;">Jean P.</td>
                              <td width="100px" style="white-space: normal; text-align: center;">01/03/2019</td>
                              <td width="100px" style="white-space: normal; text-align: center;">31/10/2019</td>
                              <td width="100px" style="white-space: normal;">En Proceso</td>
                              <td width="100px" style="white-space: normal; text-align: center;">Alta</td>
                              <td>
                                <p style="text-align: center; color:#3F52B6">
                                  <strong><i class="material-icons link" (click)="openDialog()">people</i></strong></p>
                              </td>
                              <td> 
                                <p style="text-align: center; color:#3F52B6">
                                  <strong><i class="material-icons link" (click)="openDialog2()">notification_important</i></strong></p> 
                              </td>
                              <td> 
                                <p style="text-align: center; color:#3F52B6">
                                  <strong><i class="material-icons link" (click)="openDialog3()">event_note</i></strong></p>                        
                              </td>
                              <td> 
                                <p style="text-align: center; color:#3F52B6">
                                  <strong><i class="material-icons link" (click)="openDialog3()">edit</i></strong></p>
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">RQ0003</th>
                              <td width="100px" style="white-space: normal;">Proyecto Pricing</td>
                              <td width="100px" style="white-space: normal;">Jean P.</td>
                              <td width="100px" style="white-space: normal; text-align: center;">01/03/2019</td>
                              <td width="100px" style="white-space: normal; text-align: center;">31/10/2019</td>
                              <td width="100px" style="white-space: normal;">En Proceso</td>
                              <td width="100px" style="white-space: normal; text-align: center;">Alta</td>
                              <td>
                                <p style="text-align: center; color:#3F52B6">
                                  <strong><i class="material-icons link" (click)="openDialog()">people</i></strong></p>
                              </td>
                              <td> 
                                <p style="text-align: center; color:#3F52B6">
                                  <strong><i class="material-icons link" (click)="openDialog2()">notification_important</i></strong></p> 
                              </td>
                              <td> 
                                <p style="text-align: center; color:#3F52B6">
                                  <strong><i class="material-icons link" (click)="openDialog3()">event_note</i></strong></p>                        
                              </td>
                              <td> 
                                <p style="text-align: center; color:#3F52B6">
                                  <strong><i class="material-icons link" (click)="openDialog3()">edit</i></strong></p>
                              </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> 