<div *ngIf="loading" class="content-load">
    <br>
    <mat-spinner class="child-load"></mat-spinner>
    <br>
    <mat-label class="child-load"><strong>Cargando... </strong></mat-label>
</div>
<div [formGroup]="regContacto">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title"><p style="color:#3F52B6; text-align: left;">
                        <strong> <i class="material-icons">library_add</i> Registra Contacto</strong></p></h4>                    
                </div>  
                <div style="align-content: center; vertical-align: middle;">    
            </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2" > 
                            <mat-label style="font-size: small;"><strong>Codigo: </strong> </mat-label>
                        </div>
                        <div class="col-md-3"> 
                            <mat-form-field hintLabel="Max 9 caracteres" style="font-size: small;">
                                <input formControlName="codigoContactoInput" matInput #inputAtencion>
                            </mat-form-field> 
                        </div>                      
                        <div class="col-md-2">
                            <mat-label><strong style="font-size: small;">Estado: </strong> </mat-label> 
                        </div>
                        <div class="col-md-3"> 
                            <mat-form-field>
                                <mat-select formControlName="estadoGenSelect" placeholder="Selecciona estado" style="font-size: small;" [compareWith]="compareItems" [(ngModel)]="contacto.estado"> 
                                    <mat-option *ngFor="let estadolet of estadoGen.detalle" [value]="estadolet">
                                        {{estadolet.descripcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2"> 
                            <mat-label style="font-size: small;"><strong>Nombres: </strong> </mat-label>  
                        </div>
                        <div class="col-md-3"> 
                            <mat-form-field hintLabel="Max 20 caracteres">
                                <input formControlName="nombresInput" matInput #inputNombres maxlength="20" placeholder="Ingrese nombres" style="font-size: small;">
                                <mat-hint align="end">{{inputNombres.value?.length || 0}}/20</mat-hint>
                            </mat-form-field>
                        </div>
                        
                        <div class="col-md-2"> 
                            <mat-label style="font-size: small;"><strong>Cargo: </strong> </mat-label>  
                        </div>
                        <div class="col-md-3"> 
                            <mat-form-field>
                                <mat-select formControlName="cargoSelect" placeholder="Selecciona cargo" style="font-size: small;" [compareWith]="compareItems" [(ngModel)]="contacto.cargo">
                                    <mat-option *ngFor="let cargolet of cargo.detalle" [value]="cargolet">
                                        {{cargolet.descripcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2"> 
                            <mat-label><strong>Teléfono: </strong> </mat-label> 
                        </div>
                        <div class="col-md-3"> 
                            <mat-form-field hintLabel="Max 11 numeros">
                                <input formControlName="telefonoInput" matInput #inputTelefono maxlength="11" placeholder="Ingrese teléfono" id="telefono">
                                <mat-hint align="end">{{inputTelefono.value?.length || 0}}/11</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-md-2"> 
                            <mat-label><strong>Anexo: </strong> </mat-label>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field hintLabel="Max 4 caracteres">
                                <input formControlName="anexoInput" matInput #inputHoras  placeholder="Anexo de llamada" type="number" >
                            </mat-form-field> 
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2"> 
                            <mat-label><strong>Correo: </strong> </mat-label> 
                        </div>
                        <div class="col-md-8"> 
                            <mat-form-field hintLabel="Max 200 numeros" class="max-width">
                                <input formControlName="correoInput" matInput #inputCorreo maxlength="200" placeholder="Ingrese correo" id="correo">
                                <mat-hint align="end">{{inputCorreo.value?.length || 0}}/200</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>                                                            
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-primary btn-sm active" (click)='saveContacto(contacto)'>Guardar</button>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-info btn-sm" (click) = "resetFields()">Limpiar</button>
                </div>
                <div class="col-md-1" >
                    <button class="btn btn-danger btn-sm" (click)="close()">Cerrar</button> 
                </div> 
            </div>
</div>



