<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title"><p align="left" style=color:#3F52B6>
            <strong> <i class="material-icons">notification_important </i> Mantenedor de Riesgos </strong></p></h4>
        
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2"> N° Atención: </div>
            <div class="col-md-3"> 
                <input class="form-control form-control-sm" type="text" maxlength="9" disabled>  
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">Título: </div>
            <div class="col-md-3">
                <input class="form-control form-control-sm" type="text" disabled> 
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-12">
                <p align="left" style=color:#3F52B6>
                    <strong> <i class="material-icons"> </i> Datos de Riesgos </strong></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr style="width:100%;">
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"> Id riesgo: </div>
            <div class="col-md-3"> 
                <input class="form-control form-control-sm" type="text" maxlength="9" disabled>  
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">Titulo: </div>
            <div class="col-md-3">
                <input class="form-control form-control-sm" type="text" > 
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-2"> Descripción: </div>
            <div class="col-md-3"> 
                <input class="form-control form-control-sm" type="text"  maxlength="9" >  
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">Tipo: </div>
            <div class="col-md-3">
                <input class="form-control form-control-sm" type="text" > 
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-2"> Impacto: </div>
            <div class="col-md-3"> 
                <input class="form-control form-control-sm" type="text" maxlength="9" >  
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2"> Criticidad: </div>
            <div class="col-md-3">
                <input class="form-control form-control-sm" type="text" > 
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2"> Fecha Inicio </div>
            <div class="col-md-3"> 
                <input class="form-control form-control-sm" type="text" maxlength="9" >  
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">Fecha Atención: </div>
            <div class="col-md-3">
                <input class="form-control form-control-sm" type="text" > 
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2"> Plan de Respuesta </div>
            <div class="col-md-9"> 
                <textarea class="form-control" rows="5" id="comment"></textarea> 
            </div>
           
        </div>
    </div>   
</div>
           
<br>  
   
<div class="row">
    <div class="col-md-8">
    </div>

    <div class="col-md-2">
        <button type="button" class="btn btn-info bnt-sm" >
             Grabar
        </button>
    </div> 

    <div class="col-md-2">
         <button type="button" class="btn btn-danger bnt-sm" (click)="close()">Cerrar</button>
    </div> 
 </div>
<br>

