html, body, #container {
  width: 100%;
  height: 100%;
  margin: 1;
  padding: 0;
}

table {
    width: 100%;
}

.mat-form-field {
  font-size: 10px;
  width: 95% !important;
  margin-top: 2%;
  margin-left: 2%;
}

.highlight{
  background: #90c7f7 !important; 
}

.highlight td{
  color: #ffffff !important;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 30px;
  padding: 8px 14px 0;
}

.mat-form-field {
  font-size: 10px;
  width: 100%;
}

.mat-table {
  overflow: auto; 
  width: 100%;
  overflow-x: scroll;
}

.card-title{
  color: #0d478f;
  font-sizE: small;
}

.mat-row:nth-child(even){
  background-color:rgba(94, 130, 152, 0.05)
}

/*.mat-row:nth-child(odd){
  background-color:rgb(247, 241, 241)
}
*/
.encabezado{
    background-color: #eff4fa;
}
.encabezado th{
  color: #0d478f;
}
th.mat-sort-header-sorted {
  color: black;
}
tr.mat-footer-row, tr.mat-row {
  height: 15px;
}
tr.mat-header-row {
  height: 30px;
  font-size: 08;
}

/* Absolute Center Spinner */
.content-load {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 08px;
}

/* Transparent Overlay */
.content-load:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.mat-icon {
  text-align: right;
  vertical-align: middle;
  font-size: 10px;
  width: 15px;
}

.material-icons{
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  width: 15px;
}
.logo{
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  width: 12px;
}

.pointer{
  cursor:pointer;
}
.mat-card-title {
  color: #0d478f;
}
.example-container {
  height: 180px;
  width: 100%;
  overflow: auto;
  font-size: xx-small;
}

table {
  width: 100%;
}

.example-container1 {
  height: 500px;
  overflow: auto;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.example-container1::-webkit-scrollbar {
  -webkit-appearance: none;
}

.example-container1::-webkit-scrollbar:vertical {
  width:10px;
}

.example-container1::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 

.example-container1::-webkit-scrollbar:horizontal {
  height: 10px;
}

.example-container1::-webkit-scrollbar-thumb {
  background-color: #2708af;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.example-container1::-webkit-scrollbar-track {
  border-radius: 10px;  
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.example-container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.example-container::-webkit-scrollbar:vertical {
  width:10px;
}

.example-container::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 

.example-container::-webkit-scrollbar:horizontal {
  height: 10px;
}

.example-container::-webkit-scrollbar-thumb {
  background-color: #af0885;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.example-container::-webkit-scrollbar-track {
  border-radius: 10px;  
}

.mat-cell{
  font-size: 12px;
} 