<div *ngIf="loading" class="content-load">
  <br>
  <mat-spinner class="child-load"></mat-spinner>
  <br>
  <mat-label class="child-load"><strong>Cargando... </strong></mat-label>
</div>


<mat-card-header>
  <mat-card-title>Dashboard {{estado}} </mat-card-title>
</mat-card-header>

<div class="example-container1 mat-elevation-z8">  

<div class="row" >    
  <div class="col-sm-3" (click)="chartClicked($event)">
    <div class="card">
      <div crlass="card-content">
        <h3 class="card-title">Proyectos</h3>          
        <div class="chart-wrapper pointer">
          <canvas baseChart 
            [data]="doughnutChartDataP"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            [options]="chartOptions"
            [plugins]="barChartPlugins"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
          </canvas>         
      </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9">  
  <div class="example-container mat-elevation-z8"> 
            <table mat-table [dataSource]="iniciativas" matSort>
              <!-- Position Column -->
              <ng-container matColumnDef="codigosvt">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> C.SVT/TKT </th>
                  <td mat-cell *matCellDef="let tipo" (click)="selectedDocumento(tipo)" > {{tipo.codigoSVT}} </td>
              </ng-container>
        
              <!-- Name Column -->
              <ng-container matColumnDef="titulo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> TITULO </th>
                  <td mat-cell *matCellDef="let tipo" (click)="selectedDocumento(tipo)"> {{tipo.titulo}} </td>
              </ng-container>

              <ng-container matColumnDef="fechafin">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA FIN </th>
                  <td mat-cell *matCellDef="let tipo" (click)="selectedDocumento(tipo)"> {{tipo.fechaFin | date: 'dd/MM/yyyy'}} </td>
              </ng-container>

              <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header align="center"> ESTADO </th>
                  <td mat-cell *matCellDef="let tipo" (click)="selectedDocumento(tipo)" align="center"> 
                   {{tipo.estado.descripcion}}                      
                     </td>
              </ng-container>

              <ng-container matColumnDef="accion">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header align="center"> ACCION </th>
                      <td mat-cell *matCellDef="let tipo" >
                            <p><strong> 
                              <i class="material-icons link pointer" (click)="openDialogEdit(tipo.idIniciativa)" align="center" style="text-align: center; color:rgb(222, 236, 22)">event_note</i>                        
                            </strong></p>
                      </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="columnasTablaP; sticky: true;  " class="encabezado"></tr>
              <tr mat-row  *matRowDef="let row; columns: columnasTablaP;"  [ngClass]="{'highlight': selectedRowIndex == row.numeroIniciativa}" (click)="highlight(row)"></tr>
             </table>
  </div>
  </div>
</div>

<div class="row" >    
  <div class="col-sm-3" (click)="chartClicked($event)">
    <div class="card">
      <div class="card-content">
        <h2 class="card-title">Mantenimiento</h2>
        <div class="chart-wrapper pointer">
          <canvas baseChart 
            [data]="doughnutChartDataT"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            [options]="chartOptions"
            [plugins]="barChartPlugins"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
          </canvas>
      </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9">  
    <div class="example-container mat-elevation-z8">         
      <table mat-table [dataSource]="iniciativas2" matSort > 
        <!-- Position Column -->
        <ng-container matColumnDef="codigosvt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> C.SVT/TKT </th>
            <td mat-cell *matCellDef="let tipo" (click)="selectedDocumento(tipo)" > {{tipo.codigoSVT}} </td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="titulo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> TITULO </th>
            <td mat-cell *matCellDef="let tipo" (click)="selectedDocumento(tipo)"> {{tipo.titulo}} </td>
        </ng-container>

        <ng-container matColumnDef="fechafin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA FIN </th>
            <td mat-cell *matCellDef="let tipo" (click)="selectedDocumento(tipo)"> {{tipo.fechaFin | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header align="center"> ESTADO </th>
            <td mat-cell *matCellDef="let tipo" (click)="selectedDocumento(tipo)" align="center"> 
              {{tipo.estado.descripcion}}     </td>
        </ng-container>

        <ng-container matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header align="center"> ACCION </th>
                <td mat-cell *matCellDef="let tipo">
                      <p><strong> 
                        <i class="material-icons link pointer"  (click)="openDialogEdit(tipo.idIniciativa)" style="text-align: center; color:rgb(222, 236, 22)">event_note</i>                        
                      </strong></p>
                </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnasTablaM; sticky: true;" class="encabezado"></tr>
        <tr mat-row  *matRowDef="let row; columns: columnasTablaM;"  [ngClass]="{'highlight': selectedRowIndex == row.numeroIniciativa}" (click)="highlight(row)"></tr>
      </table>
  </div>
  </div>
</div>

<div class="row" >    
  <div class="col-sm-3" (click)="chartClicked($event)">
    <div class="card">
      <div class="card-content">
        <h2 class="card-title">Incidencias</h2>
        <div class="chart-wrapper pointer">
          <canvas baseChart 
            [data]="doughnutChartDataI"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            [options]="chartOptions"
            [plugins]="barChartPlugins"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">>
          </canvas>
      </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9">  
    <div class="example-container mat-elevation-z8">           
      <table mat-table [dataSource]="iniciativas4" matSort >
                  
        <!-- Position Column -->
        <ng-container matColumnDef="codigosvt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> C.SVT/TKT </th>
            <td mat-cell *matCellDef="let tipo" (click)="selectedDocumento(tipo)" > {{tipo.codigoSVT}} </td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="titulo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> TITULO </th>
            <td mat-cell *matCellDef="let tipo" (click)="selectedDocumento(tipo)"> {{tipo.titulo}} </td>
        </ng-container>

        <ng-container matColumnDef="fechafin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA FIN </th>
            <td mat-cell *matCellDef="let tipo" (click)="selectedDocumento(tipo)"> {{tipo.fechaFin | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header align="center"> ESTADO </th>
            <td mat-cell *matCellDef="let tipo" (click)="selectedDocumento(tipo)" align="center"> 
              {{tipo.estado.descripcion}}    </td>
        </ng-container>

        <ng-container matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header align="center"> ACCION </th>
                <td mat-cell *matCellDef="let tipo">
                      <p><strong> 
                        <i class="material-icons link pointer" (click)="openDialogEdit(tipo.idIniciativa)"  style="text-align: center; color:rgb(222, 236, 22)">event_note</i>                        
                      </strong></p>
                </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnasTablaI; sticky: true;" class="encabezado"></tr>
        <tr mat-row  *matRowDef="let row; columns: columnasTablaI;"  [ngClass]="{'highlight': selectedRowIndex == row.numeroIniciativa}" (click)="highlight(row)"></tr>
       </table>
    </div>
  </div>
</div>

</div>