<div *ngIf="loading" class="content-load">
    <br>
    <mat-spinner class="child-load"></mat-spinner>
    <br>
    <mat-label class="child-load"><strong>Cargando... </strong></mat-label>
</div>
<div [formGroup]="regEvento">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title"><p style="color:#3F52B6; text-align: left;">
                        <strong> <i class="material-icons">library_add</i> Registra Actividad</strong></p></h4>                    
                </div>  
                <div style="align-content: center; vertical-align: middle;">    
            </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2" > 
                            <mat-label style="font-size: small;"><strong>Código: </strong> </mat-label>
                        </div>
                        <div class="col-md-3"> 
                            <mat-form-field hintLabel="Max 9 caracteres" style="font-size: small;">
                                <input formControlName="codigoActividadInput" matInput #inputAtencion>
                            </mat-form-field> 
                        </div>                      
                        <div class="col-md-2">
                            <mat-label style="font-size: small;"><strong>Estado: </strong> </mat-label> 
                        </div>
                        <div class="col-md-3"> 
                            <mat-form-field>
                                <mat-select formControlName="estadoActividadSelect" placeholder="Selecciona estado" style="font-size: small;" [compareWith]="compareItems" [(ngModel)]="actividadDet.estado">
                                    <mat-option *ngFor="let estadolet of estado.detalle" [value]="estadolet">
                                        {{estadolet.descripcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2"> 
                            <mat-label style="font-size: small;"><strong>Tipo actividad: </strong> </mat-label>  
                        </div>
                        <div class="col-md-3"> 
                            <mat-form-field>
                                <mat-select formControlName="tipoActividadSelect" placeholder="Selecciona tipo actividad" style="font-size: small;" [compareWith]="compareItems" [(ngModel)]="actividadDet.tipo">
                                    <mat-option *ngFor="let tipoactividadlet of tipo.detalle" [value]="tipoactividadlet" (click)="loadSubTipo(tipoactividadlet, true)">
                                        {{tipoactividadlet.descripcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        
                        <div class="col-md-2"> 
                            <mat-label style="font-size: small;"><strong>Subtipo actividad: </strong> </mat-label>  
                        </div>
                        <div class="col-md-3"> 
                            <mat-form-field>
                                <mat-select formControlName="subtipoActividadSelect" placeholder="Selecciona subtipo actividad" style="font-size: small;" [compareWith]="compareItems" [(ngModel)]="actividadDet.subtipo">
                                    <mat-option *ngFor="let subtipoactividadlet of subtipo" [value]="subtipoactividadlet">
                                        {{subtipoactividadlet.descripcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2"> 
                            <mat-label style="font-size: small;"><strong>Actividad: </strong> </mat-label>  
                        </div>
                        <div class="col-md-8"> 
                            <mat-form-field hintLabel="Max 200 caracteres" class="max-width">
                                <input formControlName="tituloActividadInput" matInput #inputTitulo maxlength="200" placeholder="Ingrese actividad" style="font-size: small;">
                                <mat-hint align="end">{{inputTitulo.value?.length || 0}}/200</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2"> 
                            <mat-label style="font-size: small;"><strong>Descripción: </strong> </mat-label> 
                        </div>
                        <div class="col-md-8">
                            <mat-form-field class="max-width">
                                <textarea formControlName="descripcionActividadTextArea" matInput
                                            cdkTextareaAutosize
                                            #autosize2="cdkTextareaAutosize"
                                            cdkAutosizeMinRows="1"
                                            cdkAutosizeMaxRows="5"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2"> 
                            <mat-label style="font-size: small;"><strong>Fecha Inicio: </strong> </mat-label> 
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <input formControlName="fechaInicioActividadInput" matInput [matDatepicker]="picker2" placeholder="Selecciona fecha inicio">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-md-2"> 
                            <mat-label style="font-size: small;"><strong>Horas Asignadas: </strong> </mat-label> 
                        </div>
                        <div class="col-md-3"> 
                            <mat-form-field hintLabel="Max 3 numeros">
                                <input formControlName="horasAsigActividadInput" type="number" min="1" step="1" matInput #inputHoras maxlength="3" placeholder="Ingrese horas asignadas" id="horas" (focusout)="focusOut($event)">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2"> 
                            <mat-label style="font-size: small;"><strong>Fecha Fin: </strong> </mat-label> 
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <input formControlName="fechaFinActividadInput" matInput [matDatepicker]="picker3" placeholder="Selecciona fecha fin">
                                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>                                                          
                </div>
            </div>
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-primary btn-sm active" (click)='saveActividad(iniciativa)'>Guardar</button>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-info btn-sm" (click) = "resetFields()">Limpiar</button>
                </div>
                <div class="col-md-1" >
                    <button class="btn btn-danger btn-sm" (click)="close()">Cerrar</button> 
                </div> 
            </div>
</div>       



