.example-panel-1.mat-select-panel {
    background: rgba(255, 0, 0, 0.5);
  }
  
  .example-panel-2.mat-select-panel {
    background: rgb(248, 244, 14);
  }
  
  .example-panel-3.mat-select-panel {
    background: rgba(76, 241, 54, 0.5);
  }
  .pointer{
    cursor:pointer;
  }
 /* Absolute Center Spinner */
 .content-load {
  position: fixed;
  z-index: 999999999999999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.content-load:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

  .max-width{
    width: 100%;
  }